* {
    box-sizing: border-box;
}

body {
    background-color:aqua;
}

h1 {
    display: flex;
    justify-content: center;
    
}

h2 {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
}

section {
    text-align: center;
    margin: 0;

}

button {
    
}