* {
    box-sizing: border-box;
}

body {
    background-color:lightgrey;
    
}

h1 {
    display: flex;
    justify-content: center;
    color: aliceblue;
    border-color: black;
    font-size: 70px;

}

h2 {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: center;
}

section {
    text-align: center;
    margin: 0;
    font-size: 65px;

}

div {
    text-align:center;
}

